# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
jspm_packages/
apps/**/node_modules
packages/**/node_modules

# Build outputs
.next
out
dist
.nuxt
.svelte-kit/
.docusaurus
.temp
.parcel-cache
.cache
coverage

# TypeScript
*.tsbuildinfo

# Env
.env
.env.*
!.env.example
*.local

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.vscode-test
.idea

# OS
.DS_Store
Thumbs.db

# Optional caches
.npm
.eslintcache
.stylelintcache
.turbo

# Yarn
.yarn-integrity
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*